*{
    margin: 0;
    padding: 0;  
}
body{
    background: linear-gradient(0deg, rgb(143, 7, 104) 0%, rgb(190, 8, 178) 53%, rgb(244, 170, 239) 100%);
background-size: cover;
background-attachment: fixed;
display: flex;
flex-direction: column;
height: 100%;
min-height: 100vh;
}

.main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr ;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

h1{
    text-align: center;
    color: white;
    font-family: 'Calibri', sans-serif;
    font-weight: 600;
}
.note-list h2{
    color: #f8f5f7;
}
.title { 
    grid-area: 1 / 1 / 2 / 6; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar { 
    grid-area: 2 / 1 / 3 / 2; 
}

.calendar-container{
    padding: 20px;
}

.calendar-header{
background-color: #ffffff;
color: #a2026d;

}

.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(191, 5, 160, 0.5);
    backdrop-filter: blur(3px);
}
.note { 
    grid-area: 2 / 2 / 3 / 3; 
}

.note-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


textarea {
    width: 80%;
    height: 100px;
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
}

button{
    padding: 10px;
    background: #ffffff;
    color: rgb(213, 47, 180);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 20%;
}



.delete-btn{
    background-color: #ff00aa;
    color: #f8f5f7;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s ease;
    
}
.delete-btn:hover{
    background: #ff78d2;
}


#note-element{
    list-style: none;
    width: 60%;
}

#note-element li {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background: #ffffff;
    color: black;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s aese;

}


.weekdays {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    padding: 0 5px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;

}


.day {
    aspect-ratio: 1;
    padding: 12px;
    border-radius: 10px;
    background-color: #ebaae5;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}


.day:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.day.empty {
    background-color: transparent;
    cursor: default;
}

.day.empty:hover {
    transform: none;
    box-shadow: none;
}

.day-number {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.1rem;

}


.day.has-note {
    background-color: #ed79eb;
    border: 2px solid #ffffff  ;

}

.day.has-note::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 8px;
    height: 8px;
    background-color: #ffffff ;
    border-radius: 50%;
}

.day-note-preview {
    font-size: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 600px) {

    .main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
    }

    .title { 
        grid-area: 1 / 1 / 2 / 2; 
    }

    .calendar { 
        grid-area: 2 / 1 / 3 / 2; 
    }

    .note { 
        grid-area: 3 / 1 / 4 / 2; 
    }

    /*
    h1{
        font-size: 1.5em;
    }
    textarea {
        width: 80%;
    }
     */
}

#add-note{
    font-size: 20px;
    font-weight:700;

}

span{
    line-break: anywhere;
    padding: 5px;
}
